*, *:before, *:after {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Maven Pro', Arial, sans-serif;
}
textarea {
	resize: none;
}

@media screen and (min-width: 1100px) {

	.header1 {	
		display: flex;	
		justify-content: flex-end;
		height: 10vh;
		align-items: center;	
		width: 100%;
		position: relative;
		z-index: 1;		
	}

	.misocial {		
		font-size: 30px;  
		color: rgb(255, 255, 255);
		font-weight: bold;	
		display: flex;
		align-items: center;
		position: absolute;	 
		left: 100px;
		top: 20px;		
	}	
	.headerimg-text {		
		position: relative;	
		margin-top: 100px;
		text-align: center;
		z-index: 2;
	}
	.menu {
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	.menu ul {
		display: flex;	
		list-style: none;
		margin-right: 0px;
	}
	.menu li {	
		margin-right: 50px;
	}		
}

@media screen and (max-width: 1100px) {		
	.header1 {		
		display: block;	
		min-height: 100px;		
		width: 100%;
		position: relative;
		z-index: 1;				
	}
	.misocial {		
		font-size: 30px;  
		color: rgb(255, 255, 255);
		font-weight: bold;			
		position: relative; 		
		left: 100px;		
	}
	.misocial p {
		position: absolute;		
		display: inline-block;
		margin-left: -60px;
	}
	.headerimg-text {		
		position: relative;	
		margin-top: 50px;
		text-align: center;
		z-index: 2;
	}
	.menu {
		width: 100%;		
		text-align: center;				
	}
	.menu ul {
		list-style: none;
	}

}


.menu-link {
	color: #fff;
	text-decoration: none;
}

.menu-link:hover {
	color: #f37809;	
}


.headerimg {
	color: #fff;		
	min-height: 600px;		
	background: url('../imgs/phone.jpg') no-repeat center;
	background-size: cover;
	position: relative;
}

#compas {
	border: 3px solid #777;
	border-radius: 50%;	
	margin-right: 30px;
	transform: rotate(35deg);
}

.headerimg-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	min-height: 600px;
	opacity: 0.7;
	z-index: 0;	
	background: linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(21,141,213,1) 45%, rgba(0,212,255,1) 100%);	
	background: -webkit-linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(21,141,213,1) 45%, rgba(0,212,255,1) 100%);
	background: -moz-linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(21,141,213,1) 45%, rgba(0,212,255,1) 100%);
	background: -ms-linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(21,141,213,1) 45%, rgba(0,212,255,1) 100%);
}

.headerimg-text h1 {	
	margin: 0.5rem;
	font-size: 4rem;
}
.headerimg-text p {
	font-size: 16pt;
}
.headerimg-text span {
	display: inline-block;
	font-size: 14pt;
}
.headerimg-text span::after {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.headerimg-text span::before {
	content: '';
	width: 20px;
	height: 1px;
	background-color: #fff;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.headerimg-arrow {
	position: relative;
	z-index: 2;
	height: 20vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.arrow-down {
	width: 50px;
	height: 50px;
	display: flex;	
	justify-content: center;
	align-items: center;	
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0px 0px 10px 2.31px rgba(204,204,223,0.5);
}
.arrow-down:hover {
	box-shadow: 0px 0px 20px 2.31px rgba(204,204,223,0.5);
}


/* Menu  */
.header2 {
 	display: flex;	
	justify-content: center;
	min-height: 100px;
	align-items: center;	
	width: 100%;
	position: relative;
	z-index: 1;	
 }

#menu-checkbox {
  /* чекбокс скрыт */
  display: none;
  
}
.main-menu {
  /* пункты меню скрыты */
  display: none;
  padding: 0;
  margin: 0;   
}
.main-menu li {
  /* пункты меню расположены вертикально */
  /* каждый имеет ширину 100% */
  font-size: 2em;
  display: block;
  min-width: 90px; 
  transition: 0.5s;
}
.main-menu li:hover {
	transform: scale(1.1);
}

.main-menu a {
  /* немного стилизуем ссылки */
  display: block;
  text-align: center;  
  color: #fff;
  border-radius: 10px;
  padding: .5em;
  text-decoration: none;  
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);	
  background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  background: -ms-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.main-menu a:hover {
  color: #f89506;
}

.toggle-button {
  text-align: center;
  display: block; 
  cursor: pointer;
  font-size: 2em;
  background-color: #ccc;
  color: #333;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.toggle-button:after {
  /* получаем данные из атрибута data-open в html */
  content: attr(data-open);
  display: block;
  margin: 10px 0;
  padding: 10px 30px;
}
#menu-checkbox:checked + nav[role="navigation"] .main-menu {
  /* когда чекбокс активен меню становится видимым */
  display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
  content: attr(data-close);
}


@media screen and (min-width: 780px) {
    .toggle-button {
      /* label скрыт */
      display: none;
    }
    .main-menu {
      display: block;
      margin: 0 auto;
      background-color: #333;
      height: 30px;   	 
    }
    .main-menu li {
      /* теги <li> расположены в ряд */      
      text-align: center;
      display: inline-block;         
    }
    #first {
	border-radius: 20px 0 0 20px;
	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	}
	#last {
		border-radius: 0 20px 20px 0;
		-webkit-border-radius: 0 20px 20px 0;
		-moz-border-radius: 0 20px 20px 0;
	}
    .main-menu a {
      display: inline-block;      
      font-size: .8em;
      background-color: #333;
      text-decoration: none;
      color: #5ff0f6;
      text-transform: capitalize;
      border-bottom: 0;
    }
 } 